<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="walletApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="walletApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="walletApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="walletApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular.js - Wallet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="walletCtrl">

	<div class="wrapper">
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="http://jakimpton.co.uk/angular-wallet/">Angular Wallet</a></h1>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="http://jakimpton.co.uk/angular-wallet/">Home</a></li>
							<li><a href="#" ng:click="resetWallet()">Reset</a></li>
							<li><a href="view-source:http://jakimpton.co.uk/angular-wallet/">View Source</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>

		<div class="side-nav">
			<h2>Select / Change Currency</h2>
			<select ng-model="currentCurrency" ng-init="currentCurrency=GBP">
	    		<option ng-repeat="currency in currencies" value="{{currency.icon}}">{{currency.name}}</option>
			</select>    
		</div>

		<div class="main">
			<form name="walletForm" novalidate>
				<input type="number" name="walletValue" placeholder="Enter an amount..." ng-model="walletAmount" ng-model-instant ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" required />
				<button class="add btn btn-success" ng-disabled="walletForm.$invalid" ng:click="addAmount()"><i class="fa fa-plus-square"></i> Add</button>
				<button class="reduce btn btn-danger" ng-disabled="walletForm.$invalid" ng:click="minusAmount()"><i class="fa fa-minus-square"></i> Remove</button> 

				<p ng-show="walletForm.walletValue.$invalid && !walletForm.walletValue.$pristine" class="help-text">Enter a valid number.</p> 
			</form>

			<h2>Wallet Entries</h2>
			<ul class="entries list-group">
				<li class="list-group-item" ng-repeat="walletEntry in walletEntries">
					<i class="fa {{currentCurrency}}"></i>{{walletEntry.amount}} - {{date | date:'dd-MM-yy'}}
				</li>
			</ul>

			<h2>your total is: <i class="fa {{currentCurrency}}"></i>{{getTotal()}}</h2>
			<h2>entries: {{getEntries()}}</h2>

			<button class="reset btn btn-info" ng:click="resetWallet()">Reset</button>

		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	
</body>
</html>

