<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="walletApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="walletApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="walletApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="walletApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular.js - Wallet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="walletCtrl">


<!--
+ Setup 30-45 mins
  - installing gulp / file structure / sass / iconfonts
+ Angular JS - 1.30 - gulp fail - 15.01
  - inputs - calculate total > https://docs.angularjs.org/guide/concepts
+ Cloned seed-app - 15.01
  - building header and inserting basic logic
+ Restarted from scratch - 17.10
  - 
-->

  <div class="wrapper">
	<header>
	  <h1>Angular Wallet App</h1>
	  <nav>
		<ul>
		  <li><a href="#">Home</a></li>
		  <li><a href="#" ng:click="resetWallet()">Reset</a></li>
		  <li><a href="#">View Source</a></li>
		</ul>
	  </nav>
	</header>

	<div class="side-nav">
	  <nav>
		<h2>change currency</h2>
		<ul>
		  <li ng-repeat="currency in currencies"><a href="#"><i class="fa {{currency.icon}}"></i> {{currency.name}}</a></li>
		</ul>
	  </nav>

	</div>

	<div class="main">

	  <form>
		<input type="number" name="walletValue" min="0" size="30" placeholder="Enter the amount here..." ng-model="walletAmount" ng-model-instant required />
		<!-- <button ng:click="addAmount()">Add</button> -->
		<button class="add" ng:click="addAmount()"><i class="fa fa-plus-square"></i> add</button>
		<button class="reduce" ng:click="minusAmount()"><i class="fa fa-minus-square"></i> reduce</button>  
	  </form>


	  
	</div>

	<ul class="entries" ng-repeat="walletEntry in walletEntries">
	  <li>
		<input type="checkbox" ng-model="walletEntry.remove">
		<span class="remove-{{walletEntry.remove}}">{{walletEntry.amount}}</span>
	  </li>
	</ul>
	
	<h2>your total is: {{currency.name}} {{getTotal()}}</h2>
	<h3>entries: {{getEntries()}}</h3>

	<button class="reset" ng:click="resetWallet()">Reset</button>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <!-- need js? -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
</body>
</html>

